
/* Hero -section */

.section-hero {
    margin-top:6rem;
    display:flex;
    justify-content:space-between;
    gap:2rem;
    width:100%;
    /* align-items:center; */
}

.hero-item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:2rem;
}

.hero-image { 
    display: flex;
    justify-content: center;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.intro {
    font-size:4rem;
    color:#47466C;
}
.name {
    font-size:6rem;
    color:var(--primary-color);
}
.about {
    font-size:2rem;
    color:#979797;
}

.download-cv-btn{
    margin-top:4rem;
    font-size:1.5rem;
    text-transform:uppercase;
    padding:1.5rem 5rem;
    background-color:var(--primary-color);
    color: var(--white-color);
    border-radius: .5rem;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.download-cv-btn:hover {
    color: var(--white-color);
    transform: scale(1.05);
}

/* end of Hero -section */

/* end of Section -1 */


/* skils-section */ 

.section-2 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background: linear-gradient(180deg, rgba(214, 236, 247, 0.21) 0%, rgba(242, 206, 146, 0.25) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bars-wrapper {
    margin-bottom: 10rem;
  }
  
  .progress-bar {
    width: 60rem;
    height: 2.8rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem rgb(151, 150, 150);
    position: relative;
  }
  
  .progress-text {
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    color: #fff;
  }
  
  .progress-text span {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .progress-percent {
    width: 0;
    height: 100%;
    background-color: #FFC107;
    border-radius: 0.3rem;
    transition: width 0.5s 0.5s ease-in-out;
  }


  .section-heading {
    font-size:5rem;
    text-align: center;
     margin-bottom: 5rem;
     color:#6C6B67;
     text-transform: uppercase;
  }
/* end of skills Section*/
  
/* project Section */

.project-section {
    width:100%;
    height:100%;
    padding: 5rem 10rem;
    background: linear-gradient(180deg, rgba(214, 236, 247, 0.21) 0%, rgba(242, 206, 146, 0.25) 100%);
    display: flex;
    flex-direction: column;
    gap:6rem;
}

.projects-heading {
    font-size:5rem;
    text-align: center;
     margin-bottom: 5rem;
     color:#6C6B67;
     text-transform: uppercase;
}

.projects {
    display:flex;
    justify-content:space-around;
    gap:3rem;
    flex-wrap: wrap;

}

.project-card {
    display:flex;
    flex-direction: column;
    gap:3rem;
    background-color: white;
    border-radius: 20px;
     margin:2rem 0;
    transition : all .5s;
   
}

.project-details {
    display:flex;
    flex-direction: column;
    gap:3rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
      margin:2rem 0;
    transition : all .5s;
}

.project-card:hover {
    transform:scale(1.04);
}

.project-card img {
    width: 100%;
}

.project-name {
    font-size: 2.5rem;
    color: var(--primary-color);
    letter-spacing: .1rem;
}

.techUsed {
    display: flex;
    flex-direction: column;
    gap:1rem;
    color:#979797;
}

.tech-list {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.tech-list li {
    font-size:1.5rem;
}

.techUsed h2 {
    font-size: 2rem;
}

.project-btns {
    margin-top:2rem;
    display: flex;
    gap:2rem;
}

.code-btn{
    font-size:1.5rem;
    padding:.8rem 3rem;
    background-color:var(--primary-color);
    color: var(--white-color);
    border-radius: .5rem;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s;
   
}

.live-view-btn {
    font-size:1.5rem;
    padding:.8rem 3rem;
    color:var(--primary-color);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.code-btn:hover {
    color: var(--white-color);
    transform: scale(1.05);
}

.live-view-btn:hover {
    transform: scale(1.05);
}

.see-all-project {
    display: flex;
    justify-content:flex-end;
  }
  
  .all-project {
      font-size:2rem;
      padding:1rem 2rem;
      /* padding:.8rem 3rem; */
      background-color:var(--primary-color);
      color: var(--white-color);
      border-radius: .5rem;
      box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
      transition: all .2s;
  }

  .all-project:hover {
    color: var(--white-color);
    transform: scale(1.05);
  }

/* end of projects Section */


/*Blog Section */
.blog-section {
    width:100%;
    height:100%;
    padding: 5rem 10rem;
    background: linear-gradient(180deg, rgba(214, 236, 247, 0.21) 0%, rgba(242, 206, 146, 0.25) 100%);
    display: flex;
    flex-direction: column;
    gap:6rem;
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:4rem;
}

.blog {
    width: 80%;
    display:flex;
    gap:2rem;
    background-color:var(--white-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;   
   transition : all .5s;
}

.blog:hover {
    transform:scale(1.02);
}

.blog-heading {
    display:flex;
    flex-direction: column;
    margin-top:2rem;
    gap:1.5rem;
    padding-right: 5rem;
}

.title {
    font-size:2.5rem;
    color:#4A4A4A;
    letter-spacing: .1rem;
}

.subtile {
    font-size:1.5rem;
    color:#979797;
    letter-spacing: .1rem;
    line-height: 2rem;
}


.see-all-btn {
    justify-self: flex-end;
    display: flex;
    justify-content:flex-end;
  }
  
  .sell-all {
      color:#2B44FF;
      font-size:2rem;
       margin-right:4rem ;
       margin-bottom:2rem ;
     
  }


  /* end of blogs Section */


  /* subscribe Section */

.news-letter {
    width: 100%;
    height:60vh;
    background: linear-gradient(90deg, #ff9966, #FFC107);

}

.wrapper {
    display:flex;
    height: 100%;
    justify-content:center;
    align-items:center;
}
.card-content {
    width: 50%;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 4rem .5rem;
}
.container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.fas.fa-envelope {
    color: #fff;
    font-size: 2rem;
    background: #333;
    padding: 1rem;
    border-radius: 100%;
    margin: 0 0 1rem 0;
  }


  .card-content h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 1rem 1rem;
    color:#979797;
  }
  .card-content p {
      font-size: 1.5rem;
    margin: 1rem 1rem;
    color:#979797;
  }

  .form-input {
    width:100%;
    display: flex;
    justify-content:center;
    gap:1rem;
}


input {
  padding: 1rem 1.5rem;
  width: 30%;
  border-radius: .5rem;
  outline: none;
  border: .1rem solid #d1d1d1;
  font-size: 1.5rem;
}

.subscribe-btn {
  padding: 1rem 2rem;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ff9966, #FFC107);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;

}

/* end of subscribe section */



/* Responsive */
@media (max-width: 1200px) {
    .img-hero {
        width:90%;
    }
    .intro {
        font-size:3rem;
        color:#47466C;
    }
    .name {
        font-size:5rem;
        color:var(--primary-color);
    }
    .about {
        font-size:1.5rem;
        color:#979797;
    }

.download-cv-btn{
    margin-top:4rem;
    font-size:1.5rem;
    text-transform:uppercase;
    padding:1.3rem 3rem;
    background-color:var(--primary-color);
    color: var(--white-color);
    border-radius: .5rem;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}
  }
  
  @media (max-width: 800px) {  
    .progress-bar {
      width: 50rem;
    }
    .img-hero {
        width:70%;
    }
    .intro {
        font-size:2rem;
        color:#47466C;
    }
    .name {
        font-size:4rem;
        color:var(--primary-color);
    }
    .about {
        font-size:1.5rem;
        color:#979797;
    }
  }
  
  @media (max-width: 600px) {

    .section-2 {
      padding: 10rem;
    }
  
    .section-2-heading {
      margin-bottom: 10rem;
    }

 
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 45%;
    }  

    .section-2-heading {
      text-align: center;
    }
  
    .progress-bar {
      width: 40rem;
    }
  }

  @media (max-width: 480px) {
    html {
      font-size: 35%;
      overflow-x: hidden;
    }  

    .section-hero {
        flex-direction: column;
        align-items:center;
        gap:10rem;
    }

    .hero-item {
        flex-direction: column;
        align-items:center;
    }

      .intro {
          font-size:2rem;
          color:#47466C;
      }
      .name {
          font-size:4.5rem;
          color:var(--primary-color);
      }
      .about {
          font-size:1.5rem;
          color:#979797;
      }

      .project-card {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 3rem;   
    }
    .blogs {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:4rem;
    }
    
    .blog {
        flex-direction: column;
    }
    .blog-heading {
        margin-left:2rem;
    }
    
    .title {
        font-size:2rem;
    }
    
    .subtile {
        font-size:1.5rem;
    }

      
      .sell-all {
          font-size:2.5rem;
         
      }

      .form-input {
        flex-direction: column;
        align-items: center; 
    }

    .subscribe-para{
        text-align: center;
    }

    input {
        width: 80%;
    }
    
    

  }
  /* End of Responsive */
  