body{
    background: linear-gradient(180deg, rgba(214, 236, 247, 0.21) 0%, rgba(242, 206, 146, 0.25) 100%) no-repeat;
}


/* image container */

.img-container {
    display:flex;
    justify-content:center;
    margin :5rem;
}

.img-banner {
    transform:scale (100);
}

@media (max-width: 800px) {
  html {
    font-size: 35%;
    overflow-x: hidden;
  }      

  .img-banner{
      transform: scale(0.6);
  }
}

/* end of image Container */

.wrap{
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .search {
    width: 30%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 2px solid #9da5a7;
    border-right: none;
    padding: 2rem;
    height: 2rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 45px;
    border: 1px solid #ff9966;
    background: linear-gradient(90deg, #ff9966, #FFC107);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 2rem;
  }
  
  @media (max-width: 500px) {

    .search {
      width: 50%;
    }
  
    
  }

  

  .genre-container{
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:4rem 0 ;
    
  }

  .genre {
    display: flex;
    position: relative;
    display: flex;
    gap:4rem;
  }

  .genre-item { 
      padding: 1rem 2rem;
      background: linear-gradient(90deg, #c86b3d, #85670e);
      border-radius:.5rem;
      font-size: 2rem;
      color:white;
      font-weight:bold;
      letter-spacing: .1rem;
      cursor: pointer;
  }

  .one {
    background: linear-gradient(90deg, #41a4d1, #0e2a85);
  }
.two { 
    background: linear-gradient(90deg, #41d1a1, #0e857b);
}
.three { 
    background: linear-gradient(90deg, #d141d1, #550e85);
}


/*Blog Section */

.recently {
    text-align: center;
    font-size: 3rem;
    color:#979797;
}
.blog-section {
    width:100%;
    height:100%;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap:6rem;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:4rem;
}

.blog {
    width: 80%;
    display:flex;
    gap:2rem;
    background-color:var(--white-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;   
   transition : all .5s;
}

.blog:hover {
    transform:scale(1.02);
}

.blog-image{
    width:30%;
}

.blog-heading {
    display:flex;
    flex-direction: column;
    margin-top:2rem;
    gap:1.5rem;
    padding-right: 5rem;
    
}

.title {
    font-size:2rem;
    color:#4A4A4A;
    letter-spacing: .1rem;
}

.subtile {
    font-size:1.5rem;
    color:#979797;
    letter-spacing: .1rem;
    line-height: 2rem;
}


.see-all-btn {
    justify-self: flex-end;
    display: flex;
    justify-content:flex-end;
  }
  
  .sell-all {
      color:#2B44FF;
      font-size:2rem;
     margin-right:4rem ;
     margin-bottom: 2rem;
     
  }


  /* end of blogs Section */

  /* pagination Section */

  .pagination {
    display: flex;
    justify-content:center;
    height:6vh;
    margin :4rem;
  }
  
  .pagination a {
    color:#4A4A4A;
    font-size:2rem;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  /* end of pagination Section */


  @media (max-width: 800px) {

    /* html {
      font-size:40%;
      overflow-x: hidden;
    }       */
    .blog {
      width: 100%;
      display:flex;
      gap:2rem;
      background-color:var(--white-color);
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;   
      transition : all .5s;
  }

    .blog-image{
      width:30%;
     
  }
  }


  /* @media (max-width: 1000px) {

    html {
      font-size:45%;
      overflow-x: hidden;
    }           
  } */


  @media (max-width: 450px) {

    html {
      font-size:30%;
      overflow-x: hidden;
    }           
  }